# Extra requirements
# package[version_required]: tag1, tag2, ...
tox:                          testing
flake8:                       testing
mkdocs-material:              docs
mkdocstrings:                 docs
mkdocstrings-python:          docs
mkdocs-literate-nav:          docs
mkdocs-gen-files:             docs
mkdocs-section-index:         docs
